<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.sm="column" fxLayoutAlign.gt-md="space-around left" fxLayoutGap="10px"
  fxLayoutGap.xs="0">

  <div fxFlex="40">
    <md-card *ngIf="dish">
      <md-card-header>
        <md-card-title>{{dish.name | uppercase}}</md-card-title>
      </md-card-header>
      <img md-card-image src="{{dish.image}}" alt="{{dish.name}}">
      <md-card-content>
        {{dish.description}}
      </md-card-content>

      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40">
    <h1>Comments</h1>
    <md-list *ngIf="dish">
      <md-list-item *ngFor="let comment of dish.comments">
        <div class="md-list-item-text" layout="column">
          <p mat-line>{{comment.comment}}</p>
          <p mat-line>{{comment.rating}} Stars</p>
          <p mat-line>--{{comment.author}} {{comment.date | date}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>

</div>